/*-----------------  GENERAL*/

html {
    background: URL("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    
    background: rgba(0,0,0,0.85);
}

h1 {
    font-size: 40pt;
    color: white;
    margin: 0;
}

.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.margin-center {
    margin: 0 auto;
}

/*-----------------  TOP*/

#title-wrapper {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height:10%;
    margin: 0 auto;
    border-radius: 5px;
}

/*-----------------  MIDDLE*/

#middle {
    height: 70%;
    width: 100%;
}

#canvas {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    
    border: 3px solid rgba(255,255,255,0.4);
}

.middle-side{
    height: 80%;
    width: 12.5%;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}

.left-text {
    color: rgba(255,255,255,0.8);
}

.color-picker {
    width: 80%;
    height: 17.5%;
    margin: 2.5%;
    text-align: center;
    font-size: 15px;
    border: 5px solid rgba(255,255,255,0.4);
    border-radius: 5px;
}

/*-----------------  BOTTOM*/

#bottom {
    height: 15%;
    width: 100%;
}

#start-button {
    margin: 0px auto;
    height: 50%;
    width: 20%;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 10px;
    background: rgba(255,255,255,0.8);
}

#start-button:disabled {
    background: rgba(255,255,255,0.4);
}

.bottom-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 20%;
}

.bottom-mid-side{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
    height: 100%;
    width: 15%;
    
    color: white;
    font-size: 15pt;
}

.dropup {
    height: 50%;
    width: 50%;
}

#song-menu{
    height:100%;
    width: 100%;
    border: 4px solid rgba(255,255,255,0.3);
}



