/*-----------------  GENERAL*/

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: url("/images/shattered.png") repeat fixed center;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.margin-center {
  margin: 0 auto;
}

.margin-small {
  margin: 3rem;
}

/*-----------------  TEXT*/

h1, h2, h3, h4, p {
  color: black;
}

h1 {
  font-size: 6rem;
}

h3 {
  font-size: 1.7rem;
}
/*-----------------  TOP*/

#title-wrapper {
  position: relative;
  width: 100%;
  height: 10%;
  margin: 0 auto;
}

/*-----------------  MIDDLE*/

#middle {
    height: 70%;
    width: 100%;
}

#canvas {
  background: whitesmoke;
  margin: 0 auto;
  border: 3px solid silver;
}

.middle-side{
  height: 80%;
  width: 22.5%;
  margin: 0 2.5%;
  background: rgb(200, 200, 200);
  border-radius: 5px;
}

.color-picker {
  width: 80%;
  height: 17.5%;
  margin: 2.5%;
  text-align: center;
  font-size: 1.5rem;
  border: 5px solid rgba(255,255,255,0.4);
  border-radius: 5px;
}

#style-picker {
  margin: 2rem;
}

/*-----------------  BOTTOM*/

#bottom {
  height: 15%;
  width: 100%;
}

#start-button {
  margin: 0px auto;
  height: 50%;
  width: 20%;
  font-size: 2.5rem;
  border: 2px solid silver;
  border-radius: 10px;
  background: rgba(255,255,255,0.8);
}

#start-button:disabled {
  background: rgba(255,255,255,0.4);
}

.bottom-side {
  height: 100%;
  width: 35%;
}

/*--------------- Invalid screen size media queries */
@media (max-width: 1200px) {
  #title-wrapper {
    display: none !important;
  }
  #middle {
    display: none !important;
  }
  #bottom {
    display: none !important;
  }
  #error-text{
    display: inline !important;
  }

  body {
    text-align: center;
    color: black;
    background: silver;
  }

  html {
    background: none;
  }
}



