body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    font-size: 40pt;
    color: white;
    margin: 0;
}

#titleWrapper {
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.2);
    width: 50%;
    height:10%;
    margin: 0 auto;
    border-radius: 5px;
}

#middle {
    display:flex;
    height: 70%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#canvas {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    
    border: 3px solid rgba(255,255,255,0.4);
}

.middleSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 80%;
    width: 12.5%;
    background: rgba(255,255,255,0.4);
}

.colorPicker {
    width: 80%;
    height: 17.5%;
    margin: 2.5%;
    text-align: center;
    font-size: 15px;
}

#bottom {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:10%;
    width: 100%;
}

#formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.3);

    width: 20%;
    height: 100%;
    margin: 0 auto;
    
    border-radius: 5px;
}

#startButton {
    margin: 10px auto;
}
#form {
    margin: 5px auto;
}

.bottomSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 20%;
    background: rgba(255,255,255,0.3);
}
